@import "_colors";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

h1, h2, h3, h4, h5, h6, p, a, label, input {
  color: $off-black;
  font-family: "Space Mono", monospace;
  text-decoration: none;
}

h1 {
  line-height: 98%;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 2px;
}

h2 {
  font-size: 17px;
  line-height: 180%;
  margin-bottom: 8px;
}

h3 {
  font-size: 12px;
  line-height: 90%;
}

label {
  font-size: 24px;
  font-weight: 700;
}

input,
p {
  font-size: 17px;
  line-height: 180%;
  strong {
    font-weight: 700;
  }
}


@media only screen and (max-width: 500px) {
  h1 {
    font-size: 24px;
  }
  label {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
}
