@import "styles/_base";

#mailchimp-signup {
  margin-top: 32px;
  display: flex;
  align-items: center;
  input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 2px solid $off-black;
    border-radius: 4px;
    padding: 4px 12px;
    width: 80%;
    &:focus,
    &:active {
      border: 2px solid $yellow;
      outline: none;
    }
  }
  .button {
    width: auto;
    background: $off-black;
    color: white;
    margin-top: 16px;
    padding: 4px 20px;
    &:hover {
      background: $yellow;
      color: black;
      cursor: url("cursor.png"), pointer;
      cursor: url("cursor.svg"), pointer;
      cursor: -webkit-image-set(
        url('cursor.png') 1x,
        url('cursor2x.png') 2x
      ), auto;
    }
  }
  #hidden-input {
    display: none;
  }
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #F57ADA 0%, #FFD464 50.52%, #FF88E5 100%);
  z-index: 2;
  mix-blend-mode: color;
  pointer-events: none;
}

body {
  background-color: $light-yellow;
  height: 100%;
}

nav {
  padding: 32px;
  height: 100%;
  text-align: center;
  width: 318px;

  .logo {
    margin-bottom: 48px;
  }

  li {
    @extend label;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    &:hover {
      text-decoration: underline $yellow;
    }
    a {
      line-height: 40px;
      display: block;
    }
    &.active {
      &:after,
      &:before {
        display: inline-block;
        content: ' ';
        background-image: url('sun.svg');
        background-size: 40px 40px;
        height: 40px;
        width: 40px;
      }
      &:after {
        margin-left: 4px;
      }
      &:before {
        margin-right: 4px;
      }
    }
  }
  p {
    color: $off-black64;
    margin-top: 90px;
  }
}

@media only screen and (max-width: 1240px) {
  .page-content {
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px) {
  .page-content {
    align-items: center;
    margin: 0;
    width: auto;
  }
  nav {
    .logo {
      margin-bottom: 16px;
    }
    p {
      margin-top: 16px;
    }
  }
}
